<?xml version="1.0"?>
<launch>

	<!-- Parameters -->
	<arg name="robot" default="tuw-robotino2"/>
	<arg name="hand" default="metahand" />
	<arg name="action_name" default="squirrel_object_manipulation_server" />
	<arg name="planning_time" default="3.0" />
	<arg name="plan_with_octomap_collisions" default="true" />
	<arg name="plan_with_self_collisions" default="true" />
	<arg name="approach_height" default="0.15" />

	<!-- Action Server -->
	<node name="squirrel_object_manipulation_server" pkg="squirrel_object_manipulation" type="squirrel_object_manipulation_server" output="screen">
		<rosparam command="load" file="$(find squirrel_8dof_planner)/config/folding_poses_$(arg robot).yaml" />
		<param name="action_name" type="string" value="$(arg action_name)"/>
		<param name="hand" type="string" value="$(arg hand)"/>
		<param name="planning_time" type="double" value="$(arg planning_time)"/>
		<param name="plan_with_octomap_collisions" type="boolean" value="$(arg plan_with_octomap_collisions)"/>
		<param name="plan_with_self_collisions" type="boolean" value="$(arg plan_with_self_collisions)"/>
		<param name="approach_height" type="double" value="$(arg approach_height)"/>
	</node>

</launch>
