<launch>

<arg name = "robot" 	default = "ipa-robotino" />
<arg name = "robot_env"	default = "ipa-apartment"/>
<arg name = "map_file" 	default = "/home/c7031098/squirrel_ws/src/squirrel_nav/squirrel_navigation/maps/ipa-room_sim.yaml"/>


 <!--- Run simulator -->

<include file = "$(find robotino_bringup_sim)/launch/robot.launch">
    <arg name = "robot" value="$(arg robot)" />
    <arg name = "robot_env" value="$(arg robot_env)"/>
 </include>

 <!--- Run navigation -->

<include file = "$(find squirrel_navigation)/launch/navigation.launch">
    <arg name = "map_file" value="$(arg map_file)" />
    <arg name = "rviz" value="true"/>
 </include>

<!--- Run object_manipulation -->
<include file = "$(find squirrel_object_manipulation)/launch/squirrel_object_manipulation.launch"> </include>

 <!--- Run keyboard controller -->

<include file = "$(find robotino_teleop)/launch/keyboard_teleop.launch"> </include>

 <!--- Run fake perception -->
  <node name = "fake_simulation_tracker" pkg = "squirrel_tracking" type = "fake_simulation_tracker.py">
  </node>


</launch>
