[submodule "uibk_moveit_tools"]
	path = uibk_moveit_tools
	url = https://github.com/shangl/uibk_moveit_tools
[submodule "kukadu"]
	path = kukadu
	url = https://github.com/shangl/kukadu
[submodule "pisa-iit-soft-hand"]
	path = pisa-iit-soft-hand
	url = git@github.com:lokalmatador/pisa-iit-soft-hand.git
[submodule "ros_control"]
	path = ros_control
	url = git@github.com:lokalmatador/ros_control.git
