<?xml version="1.0"?>
<launch>

  <arg name="robot" default="uibk-robotino2"/>

  <node name="squirrel_moveit_utils_ground_emulation" pkg="squirrel_moveit_utils" type="ground_emulation.py" output="screen"/>

  <node name="squirrel_moveit_utils_case_collision" pkg="squirrel_moveit_utils" type="case_collision_$(arg robot).py" output="screen"/>

</launch>
